$background-primary: #F1F6F8;
$image-overlay: rgba(33, 37, 42, 0.7);
$primary-blue: #2987CD;
$secondary-blue: #89c6f5;
$darker-blue: #246ca3;
$input-border: #E0E1E2;
$input-background: #F8F9FA;
$placeholder-color: rgba(73, 80, 87, 0.6);
@font-face {
    font-family: "Source Sans Pro";
    src:url("/assets/fonts/SourceSansPro-Regular.ttf");
  }

.m-t-20{
    margin-top: 20px;
}

.m-b-20{
    margin-bottom: 20px;
}

*{
    margin: 0;
    padding: 0;
    font-family: "Source Sans Pro", sans-serif;
}
.container{
    font-family: "Source Sans Pro", sans-serif;
    position: relative;
    height: 100vh;
    background-color: $background-primary;
    // background: $background-primary;
}



.row{
    position: absolute;
    top: 13%;
    bottom: 13%;
    width: 60%;
    left:20%;
    height: 73%;
    background-color: #FFFF;
    display: grid;
    grid-template-columns: 1fr 1.5fr

}

.login-left{
    position: relative;
}
.login-left::before {
    background-image: url('/assets/images/login.jpg');
    background-size: cover;
    position: absolute;
    content: "";
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}
.login-left::after {
    background-color: $image-overlay;
    content: "";
    display: block;
    position:  absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.keep{
    z-index: 2;
    position: absolute;
    color: #FFFF;
    font-weight: 700;
    font-size: 24px;
    top: 15px;
    left: 15px;

}
.login-right{
    background-color: #FFFF;
}

.login-right{
    top: 10px;
    margin-left: 15%;
    margin-top: 5%;
}
.sign-in{
    font-size: 13px;
}


div>p>a{
    text-decoration: none;
    color: $primary-blue;
}

input[type=checkbox] {
    visibility: hidden;
}
.terms-and-conditions{
    // display: inline;
    margin: 1px 1px;
    position: relative;
}

.terms{
    display:inline;
    margin-left: 5px;
    font-size: 14px;
}

.terms-and-conditions>label {
    cursor: pointer;
    position: absolute;
    width: 15px;
    height: 15px;
    margin-right: 5px;
    top: 3px;
    border-radius: 4px;
    left: 0;
    background: $primary-blue;
    border:1px solid #ddd;
}
.terms-and-conditions>label:after {
    // opacity: 0.2;
    content: '';
    position: absolute;
    width: 8px;
    height: 4px;
    background: transparent;
    top: 2px;
    left: 2px;
    border: 3px solid #FFFF;
    border-top: none;
    border-right: none;

    transform: rotate(-45deg);
}

// Create the hover event of the tick
 .terms-and-conditions>label:hover::after {
    opacity: 0.5;
}


//Create the checkbox state for the tick
.terms-and-conditions>input[type=checkbox]:checked + label:after {
    opacity: 1;
}
.input-field{
    height: 35px;
    width: 350px;
    margin-top: 10px;
    border: 1px solid $input-border;
    border-radius: 2px;
    padding: 1px 15px;
    background-color: $input-background;

}
.input-field:focus{
    transition: border .5s ease-in-out;
    height: 35px;
    width: 350px;
    margin-top: 10px;
    border: 1px solid $secondary-blue;
    border-radius: 2px;
    padding: 1px 15px;
    background-color: $input-background;

}
.create-account{
    margin-left: 2px;
    height: 35px;
    width: 380px;
    color: $input-background;
    font-weight: 700;
    border: 1px $secondary-blue;
    border-radius: 2px;
    background-color: $primary-blue;
}

.create-account:hover{
    transition: all .5s ease-in;
    background-color: $darker-blue;
}


@media  (min-width : 320px) and (max-width : 768px)
{
    .row{
        position: absolute;
        top: 15%;
        bottom: 13%;
        width: 100%;
        left:0%;
        height: 72%;
        background-color: #FFFF;
        display: grid;
        grid-template-columns: 2fr;

    }

    .row>.login-left{
        display:none;
    }

    .login-right{
        background-color: #FFFF;
    }

    .login-right{
        top: 10px;
        margin-left: 10%;
        margin-top: 15%;
    }
    .input-field{
        width: 300px;
    }
    .input-field:focus{
        width: 300px;
    }
    .create-account{
        width: 330px;
    }
}
