$background-primary: #F1F6F8;
$image-overlay: rgba(33, 37, 42, 0.7);
$primary-blue: #2987CD;
$input-border: #E0E1E2;
$input-background: F8F9FA;
$placeholder-color: rgba(73, 80, 87, 0.6);
@font-face {
    font-family: "Source Sans Pro";
    src:url("/assets/fonts/SourceSansPro-Regular.ttf");
  }

.m-t-20{
    margin-top: 20px;
}

.m-b-20{
    margin-bottom: 20px;
}

*{
    margin: 0;
    padding: 0;
}
.container{
    font-family: "Source Sans Pro", sans-serif;
    position: relative;
    height: 100vh;
    background-color: $background-primary;
    // background: $background-primary;
}



.row{
    position: absolute;
    top: 15%;
    bottom: 15%;
    width: 60%;
    left:20%;
    background-color: #FFFF;
    display: grid;
    grid-template-columns: 1fr 1.5fr

}

.login-left{
    position: relative;
}
.login-left::before {
    background-image: url('/assets/images/login.jpg');
    background-size: cover;
    position: absolute;
    content: "";
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}
.login-left::after {
    background-color: $image-overlay;
    content: "";
    display: block;
    position:  absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.keep{
    z-index: 2;
    position: absolute;
    color: #FFFF;
    font-weight: 700;
    font-size: 24px;
    top: 15px;
    left: 15px;

}
.login-right{
    background-color: #FFFF;
}

.login-right{
    // position: absolute;
    // align-items: center;
    // align-self: center;
    // align-content: center;
    top: 60px;
    margin-left: 15%;
    margin-top: 15%;
}

label{
    margin: 10px 0;
}