{{#auth-wrapper}}
  <div class="sign-in--wrapper">
    <h2 class="creat-account">Log In</h2>
    <p class="sign-in">New to Keep? {{#link-to "sign-up" class="login"}}Sign Up{{/link-to}}</p>
    <form class="login-form">
      <div class="m-b-20 m-t-20">
        <label for="email">Email</label><br>
        {{input
          name="email"
          type="email"
          class="input-field"
          placeholder="jared@piedpiper.com"
        }}
      </div>
      <div class="m-b-20">
        <label for="password">Password</label>
        {{#link-to "reset-password" class="login forgot-password-link"}}I forgot my password{{/link-to}}
        {{input type="password" class="input-field" placeholder="Password"}}
      </div>
      <p class="sign-in m-b-20">
      </p>
      <button class="create-account">Log In</button>
    </form>
  </div>
{{/auth-wrapper}}