{{#auth-wrapper}}
  <h2 class="creat-account">Recover your account</h2>
  <p class="sign-in">Enter your email and we'll send you instructions to reset your password.</p>
  <div class="login-form">
    <div class="m-b-20 m-t-20">
      <label for="email">Email</label><br>
      {{input
        name="email"
        type="email"
        class="input-field"
        placeholder="jared@piedpiper.com"
      }}
    </div>
    <button class="create-account">Reset Password</button>
  </div>
{{/auth-wrapper}}