<div class="container">
  <div class="row">
    <div class="login-left">
      <h3 class="keep">keep</h3>
    </div>
    <div class="login-right">
      <h2 class="creat-account">Let's create your account</h2>
      <p>Already have an account? <a href="#" class="login">Login</a></p>
      <div class="login-form">

        <div class="m-t-20 m-b-20">
          <label for="name">Name</label><br>
          <input type="text" name="name" class="input-name" placeholder="Jared Dunn">
        </div>

        <div class="m-b-20">
          <label for="email">Email</label><br>
          <input
            type="text"
            name="email"
            class="input-email"
            placeholder="jared@piedpiper.com"
          >
        </div>

        <div class="m-b-20">
          <label for="password">Password</label><br>
          <input type="password" class="input-password" placeholder="Password">
        </div>

        <p class="terms-and-conditions">
          <input type="checkbox" name="t&c's" class="terms" checked="true">
          I agree to Keep's Terms and Privacy Policy
        </p>
        <button class="create-account">Create Account</button>
      </div>
    </div>

  </div>
</div>
{{outlet}}